* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffe7f1;
}

.container {
    max-width: 350px;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: #ffabc0;;
}

header {
    background: #ffabc0;
    padding: .5rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h3 {
    font-family: "Playwrite NO", cursive;
    color: #fff;
}   

.container h2 {
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    color: #ffabc0;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #ffe7f1;
    border-radius: 20px;
}

.album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 1rem;
}

.album-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: 3px solid #ddd;
}

.album-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.album-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}