* {
    margin: 0;
    padding: 0;
}

body {
    background: #f3c6d8;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: #ffabc0;;
}

header {
    background: #ffabc0;
    padding: .5rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header a {
    text-decoration: none;
}

header h3 {
    font-family: "Playwrite NO", cursive;
    color: #fff;
}   

.container h2 {
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    color: #ffabc0;
    margin: 1rem 0 ;
    text-align: center;
    background-color: #ffe7f1;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
}

.container h2:hover {
    transform: scale(1.05);
}

.album {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    padding: 1rem;
}

.album-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: 3px solid #ddd;
}

.album-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.album-item img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
}

.container p {
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    color: #855454;
    text-align: center;
    margin: 1rem 0 ;  
    font-size: 18px;
}

.section img {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #ffe7f1;
}

.footer {
    background: #ffabc0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffe7f1;
    font-family: "Mitr", sans-serif;
}

.footer h2 {
    font-weight: 200;
    color: #ffabc0;
    text-align: center;
    background-color: #ffe7f1;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
    margin-bottom: .5rem;
}

.section audio {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 1rem;
}