* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffe7f1;
}

.conainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background: #ffabc0;
    padding: .5rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h3 {
    font-family: "Playwrite NO", cursive;
    color: #fff;
}